@font-face {
    font-family: 'Burbank';
    src: url('/font/BurbankBigCondensed-Black.otf') format('opentype');
}
*{
    font-family: 'Burbank Big Regular';
}
canvas{
    border: 3px solid #232528;
    width: 300px;
}