@font-face {
    font-family: 'BurbankBigCondensed-Black';
    src: url(/font/BurbankBigCondensed-Black.otf) format('woff');
}
*{
    font-family: 'Burbank Big Regular';
}
canvas{
    border: 3px solid #232528;
    width: 300px;
}